<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90348815049-lh9qppoqpadudei1sgp3di4450jbsin7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90348815049-lh9qppoqpadudei1sgp3di4450jbsin7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90348815049-fus1nbf4491k33a2uean2mcehqb8pndo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIcKfpjs0bidW7XSwVKRybBGrnmwjL0_0</string>
	<key>GCM_SENDER_ID</key>
	<string>90348815049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizagent.bizagent</string>
	<key>PROJECT_ID</key>
	<string>gifted-mountain-476207-u4</string>
	<key>STORAGE_BUCKET</key>
	<string>gifted-mountain-476207-u4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90348815049:ios:a4b5f12ee73618f1d54318</string>
</dict>
</plist>